@import "../../scss/mixins", "../../scss/variables", "../../scss/animations";

.trending-games {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4.7rem;

  @include custom-mq(1298px) {
    justify-content: space-around;
  }
}
