@import "../scss/mixins", "../scss/variables", "../scss/animations";

.body__home {
  background: linear-gradient(180deg, #39289f 0%, #422f9c 100%);

  .page {
    background: url("../../src/assets/Home/desktop-bg.png") no-repeat top right;

    @include custom-mq(1520px) {
      background: url("../../src/assets/Home/bg.png") no-repeat top right;
    }

    @include custom-mq(1350px) {
      background-size: 60rem;
      background-position: top right -10rem;
    }

    @include custom-mq(1200px) {
      background-size: 40rem;
      background-position: top right -3.4rem;
    }

    @include mq("tablet-wide") {
      background-size: 15rem;
      background-position: top right 15rem;
    }

    @include mq("phablet") {
      background-size: 13rem;
      background-position: top right 2rem;
    }
  }
}

.header {
  &__content {
    display: flex;
    flex-direction: column;

    margin-top: 12.1rem;
    margin-left: 9.2rem;

    @include mq("tablet-wide") {
      margin-top: 7rem;
      margin-left: 0;
    }

    width: 48rem;

    @include mq("tablet-wide") {
      width: unset;
    }
  }

  &__proved-by {
    @include font-config(
      $size: 2rem,
      $color: $orange-dk,
      $weight: 700,
      $lh: 1.552
    );

    margin-bottom: 1.7rem;
  }

  &__title {
    margin-bottom: 2.6rem;
    text-shadow: 0.2rem 0.3 5rem rgba(0, 0, 0, 0.5);
  }

  &__text {
    @include font-config($weight: 500, $lh: 2);
    margin-bottom: 5rem;

    @include mq("tablet") {
      margin-bottom: 2.6rem;
    }
  }

  .btn--get-in-touch {
    width: 19.5rem;
    height: 5.3rem;
  }
}

.home {
  &__trending-games {
    margin-top: 13.2rem;

    @include mq("tablet") {
      margin-top: 8rem;
    }
  }
}

.trending-games-section {
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5.8rem;

    @include mq("tablet") {
      flex-direction: column;
      row-gap: 1rem;
      align-items: initial;
    }
  }

  &__slider {
    margin: 0 -14.7rem !important;
    padding: 0 14.7rem !important;

    @include mq("tablet-wide") {
      margin: 0 -3.2rem !important;
      padding: 0 3.2rem !important;
    }

    @include mq("tablet") {
      margin: 0 -2.4rem !important;
      padding: 0 2.4rem !important;
    }
  }
}
